/* zalando-sans-latin-400-normal */
@font-face {
  font-family: "Zalando Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/zalando-sans@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/zalando-sans@latest/latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Zalando Sans", sans-serif;
  background-color: #f5f1dc;
}

.background-win {
  background: linear-gradient(rgb(21, 255, 0), rgb(35, 205, 75));
}

.background-lose {
  background: linear-gradient(
    rgba(239, 33, 67, 0.769),
    rgba(243, 31, 35, 0.792)
  );
}

main {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

button {
  font-family: "Zalando Sans", sans-serif;
  background-color: #0046ff;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.pressed {
  .button {
    padding: 15px 30px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px #9c9;
    transition: 0.2s;

    &:hover {
      background-color: #3e8e41;
    }

    &:active {
      background-color: #3e8e41;
      box-shadow: 0 2px #696;
      transform: translateY(4px);
    }
  }
}
